body {
  font-family: Arial, Helvetica, sans-serif;


}

* {
  box-sizing: border-box;
}


 .container {
  
  border-radius: 9px;
  background-color: #a4a4a5;
  padding: 20px 0 30px 0;
 border-radius: 9px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
} 
.sofkabook_title{
color: rgb(255, 255, 255);
font-weight: bold;
margin: 2%;
}
input,
.btns {
  width: 30%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 2px;

  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; 
}

.selectCategory{
  margin: 8px;
}
input:hover,
.btn:hover {
  opacity: 1;
}

input[type=submit] {

  background-color: #ffffff;
  color: #242222;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ccd3f8;
}

.navPrincipal{
  background-color:#050A30;
}

.card{width: 500px;
  
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-top: 40px; /* Added */
  background-color: #dadada;
  text-align: center;
  
}

.desafioContigo{
  color: rgb(255, 94, 0);
}

.btnGoogle{
  margin: 0 auto; /* Added */
  float: none; /* Added */
  text-align: center;
  width:55%;
  margin-bottom: 18px; /* Added */
  background-color: #050A30;
}


.btnGoogle:hover{
  
  background-color: #040722;
}

.tituloComentarios{
  margin-top:18px;
  margin-bottom:-30px;
  text-align: center;
  font-size:1.5em;
 
}

.buttonComentario{
  margin-bottom: 16px;
}
.kbd{
  background-color: #040722;
}
.textAreaComment{
  margin: auto;
  width:70%;
  margin-bottom: 12px;
  margin-top: 12px;
}
.cardComments{
  width:50%;
}
.cardPostIndividual{
  width:75%;
}
.photoProfile{
   width:50px;
   height:50px;
   border-radius:50px;
   margin-right: 15px;
}

.cardsPosts{
  width: 28rem; 
}
.buttons{
  padding: 0 0 0 0 ;
  width: 90px;
  height: 40px;
  font-size: 15px;
}

.buttonEdit{
  background-color: rgb(120, 174, 211);
  color: white;
}
.select{
  margin: 14px;
  width: 130px;
}

.buttonEdit:hover{
  background-color: rgb(109, 157, 189);
  color: white;
}

.buttonDelete{
  background-color: rgb(247, 127, 111);
  color: white;
}

.buttonDelete:hover{
  background-color: rgb(236, 128, 114);
  color: white;
}

.btn-exit{
  width:50px;
}

.name{
  margin-right: 14px;
  background-color: rgb(32, 32, 32);
  color: rgb(255, 255, 255);
}

.title-home-post{
  padding-top: 10px;
}

.cardProfile {
  box-shadow: 0 8px 18px 0 rgba(0,0,0,0.2);
  background-color: #dadada;
  border: #040722 6px solid;
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}

.cardProfile:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.imgProfile {
  border-radius: 5px 5px 0 0;
  width:20%;
}

.containerProfile {
  padding: 2px 16px;
}