body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  border-radius: 9px;
  background-color: #a4a4a5;
  padding: 20px 0 30px 0;
  border-radius: 9px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.sofkabook_title {
  color: #92bb95;
  font-weight: bold;
  margin: 2%;
}
input,
.btns {
  width: 30%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 2px;

  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

.btnLeerMás {
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 12px;
   font-weight: 100;
   padding: 13px;
   background: #768777;
   border: none;
   margin: 3px;
}


.btnDelete {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 12px;
  font-weight: 100;
  padding: 13px;
  margin: 3px;
  background-color: rgb(202, 156, 156);
  border: none;

}


.fontGlobal {
  font-family: 'Assistant', sans-serif;
}
.bi-suit-heart-fill{
 color: rgb(247, 127, 111);
 
}

.cardLike{
  background-color: #d1d3e4;
 
  color: rgb(59, 59, 59);
}
.btnActualizar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 12px;
  font-weight: 100;
  padding: 13px;
  background-color: rgb(159, 178, 185);
  margin: 3px;
  border: none;

}



.selectCategory {
  margin: 8px;
}
input:hover,
.btn:hover {
  opacity: 1;
}

input[type="submit"] {
  background-color: #ffffff;
  color: #242222;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ccd3f8;
}

.navPrincipal {
  background-color:#79B07C;
  width: 100%;
}

.navbar{
  width: 100%;
}

.card {
  width: 500px;

  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-top: 40px; /* Added */
  background-color: #eceeea;
  text-align: center;
}

.nav-link{
  color: #ffffff;
}


.btnGoogle {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  text-align: center;
  width: 55%;
  margin-bottom: 18px; /* Added */
  background-color: #ffffff;
  color: #000;
}

.btnGoogle:hover {
  background-color: #040722;
}

.tituloComentarios {
  margin-top: 18px;
  margin-bottom: -30px;
  text-align: center;
  font-size: 1.5em;
}

.buttonComentario {
  margin-bottom: 16px;
}
.kbd {
  background-color: #768777;
}

.backgroundCard {
  background-color: #313663;
}
.tag {
  color: #313663;
}

#global {
  margin-top:18px;
  height: 420px;
  width: 100%;
  background: rgb(213,212,226);
  background: linear-gradient(90deg, rgba(213,212,226,1) 0%, rgba(154, 209, 149, 0.877) 54%, rgba(213,212,226,1) 100%);
  overflow-y: scroll;

  background-repeat: no-repeat;
  background-size: cover;
}


#mensajes {
  height: auto;
}
.texto {
  padding: 4px;
  background: #fff;
}

.cardCrearGrupo {
  width: 160px;
  padding: 10px;
  margin-bottom: 25px;
}

.containerGrupos{
  margin-bottom: 95px;
}
.inputTituloGrupo {
  width: 130px;
}

.buttonGrupo {
  border-radius: 7px;
  width: 85px;
  background-color: #6cad9f;
  color: #fff;
  margin: auto;
  margin-bottom: 2px;
}

.buttonGrupo:hover {
  border-radius: 7px;
  width: 85px;
  background-color: #538d81;
  color: #fff;
  margin: auto;
  margin-bottom: 2px;
}

.buttonEnviarChat {
  margin-top: 5px;
  border-radius: 7px;
  width: 85px;
  background-color: #47946b;
  color: #fff;
}
.card-login{
  background-color: rgba(173, 173, 173, 0.835);
  color: white;
}
.coloricons{
  margin: 2px;
  color: #040722;
}
.buttonEnviarChat:hover {
  margin-top: 5px;
  border-radius: 7px;
  width: 85px;
  background-color: #040a3a;
  color: #fff;


}

.backgroundChat{
background-image: url(SOFKAFONDO.png);
background-repeat: no-repeat;
background-size: cover;
width: 100%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.buttonGrupoEnter{
  border-radius: 7px;
  width: 40px;
  background-color: #6cad9f;
  color: #fff;
  margin: auto;
  margin-bottom: 7px;
}


.buttonGrupoEnter:hover{
  border-radius: 7px;
  width: 40px;
  background-color: #538d81;
  color: #fff;
  margin: auto;
  margin-bottom: 7px;
}



.MensajeContainer{
  max-width: 3400px;
  background-color:rgb(255, 255, 255);
  border:#1da81d63 solid 2px;
  border-radius:8px;
  text-align: left;
 padding: 1px 1px 0px 10px;
 margin-top: 14px;;


}
.centro{
  margin-left: 280px;
  
}
.margin{
  margin-top: 30px;
}


.buttonFiltrar{
  display: block;
  border-radius: 7px;
  width: 130px;
  height: 40px;;
  background-color: #b5b7c7;
  color: rgb(77, 77, 77);
  margin: auto;
  margin-bottom: 7px;
}

.select{
  max-width: 700px;
}
.inputChat{
 display: grid;

}
.mensajeTexto{
  font-family: sans-serif;
  font-size: 0.9em;
}

.nombreMensajeChat{
  font-size: 1.1em;
  font-family:  Arial, Helvetica, sans-serif;
}
.text-chat{
  text-align: center;
 margin: auto;
}

.chat{
  max-width:360px;
  margin: auto;
}
.card-header{
  padding: 1px;
}

.background{

  color: #312f2f;
}

.backgroundArrow{
  background-color: #bcf3bf;
 
 
}

.alert{
  background-color:#bcf3bf;
}
.filtrar {
  
   border-radius: 10px;
   color: #313663;
   font-size: 18px;
   font-weight: 700;
   background-color: #FFFFFF;
  
}

.filtrar:hover {
  border-radius: 10px;
  color: #313663;
  background-color: #FFFFFF;
}

.containerGrupoName{
  width: 135px;
  text-align: center;
  color: #040722;
  margin:auto;
  border: rgb(211, 211, 211) solid 2px;
  margin-top: 4px;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 13px 5px rgba(0,0,0,0.4); 
  box-shadow: 0px 1px 13px 5px rgba(0,0,0,0.4);
}

.formularioCrearPost{
  
  margin-top: auto;
  background-color: #e5ebe5;
  padding: 28px;
  -webkit-box-shadow: 0px 1px 13px 5px rgba(0,0,0,0.75); 
  box-shadow: 0px 1px 13px 5px rgba(0,0,0,0.75);
}

.textAreaComment {
  margin: auto;
  width: 70%;
  margin-bottom: 12px;
  margin-top: 12px;
}
.cardComments {
  width: 50%;
}
.cardPostIndividual {
  width: 75%;
}

.cardPostLikes{
  width: 45%;
  border-radius:12px;
}
.photoProfile {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 15px;
}

.cardsPosts {
  max-width: 315px;
  max-height: 400px;
}
.buttons {
  padding: 0 0 0 0;
  width: 90px;
  height: 40px;
  font-size: 15px;
}

.buttonEdit {
  background-color: rgb(120, 174, 211);
  color: white;
}
.select {
  margin: 14px;
  width: 130px;
}

.buttonEdit:hover {
  background-color: rgb(109, 157, 189);

  color: white;
}

.buttonDelete {
  background-color: rgb(247, 127, 111);
  color: white;
}

.buttonDelete:hover {
  background-color: rgb(236, 128, 114);
  color: white;
}

.btn-exit {
  width: 50px;
}

.name {
  margin-right: 14px;
  background-color: rgba(255, 255, 255, 0.726);
  color: rgb(77, 76, 76);
}

.btn-exit {
  color: white;
 border-color: white;
}

.btn{
  color: white;
}


.myButton {
	background-color:#ffffff;
	border-radius:5px;
	border:1px solid #acaaa7;
	display:inline-block;
	cursor:pointer;
	color:#464646;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:15px 0px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  width: 200px;
  margin: auto;
  margin-bottom: 15px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.myButton:active {
	position:relative;
	top:1px;
}

        
.title-home-post {
  padding-top: 10px;
}

.email{
  font-size:10px;
}

.cardProfile {
  box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.2);
  background-color: #dadada;
  border: #407e4f 6px solid;
  transition: 0.3s;
  width: 90%;
  margin: auto;
  margin-top:100px;
  text-align: center;
  border-radius: 5px;
}

.cardProfile:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.imgProfile {
  border-radius: 50%;
  padding:5px;
  width: 15%;
}


.containerProfile {
  padding: 2px 16px;
}

.cursor-pointer {
  cursor: pointer;
}

.width{
width:190px;
max-width: 190px;
}

.video{
  margin: auto;
  text-align: center;
  max-width:360px;
  height:415;
}

.sizeCard{
  max-width:300px;
}

.Link{
  text-decoration: none;
  color: #0f1ea5;
}